<ion-view class="bg_color" id="invalid_bag">
    <ion-header-bar align-title="center" class="bar bar_top bar-energized">
        <yike-back class="return_back"></yike-back>
        <h1 class="title high fs1">失效红包</h1>
    </ion-header-bar>
    <ion-content class="has-header">
        <div class="user_rule fs3" ui-sref="user_rule">
            <a class="cl1">使用规则</a>
            <span>
                <img src="img/red_bag/user_rule.png">
            </span>
        </div>
        <div class="bag_box">
            <div  ng-repeat="item in mybag_fail">
            <div class="item item-body" ng-repeat="items in item">
                <div class="ticket">
                    <div class="ticket_bg">
                        <span>全站通用（个别商品除外）</span>
                        <p>满29元可用，APP下单使用，在线支付专享</p>
                    </div>
                    <div class="expiry_date fs5">有效期：<i>{{items.svalidity_period*1000|date:'yyyy-MM-dd'}}</i>至<i>{{items.evalidity_period*1000|date:'yyyy-MM-dd'}}</i></div>
                </div>
                <div class="ticket_price">
                    <div class="price">
                       <!-- <p><i ng-bind="items.type=='2'?'￥':''"></i><strong ng-bind="items.money" style="display: block"></strong>
                            <i ng-bind="items.type=='2'?'元':'折扣'" style="display: block"></i>红&nbsp;包</p>-->
                        <p><i ng-bind="'¥'"></i><strong ng-bind="items.money"></strong><i>元</i>
                            <i style="display:block">红&nbsp;包</i></p>
                    </div>
                    <div class="price_bg"></div>
                </div>
            </div>
           <!-- <div class="item item-body">
                <div class="ticket">
                    <div class="ticket_bg">
                        <span>全站通用（个别商品除外）</span>
                        <p>满29元可用，APP下单使用，在线支付专享</p>
                    </div>
                    <div class="expiry_date fs5">有效期：2016-7-20至2016-7-26</div>
                </div>
                <div class="ticket_price">
                    <div class="price">
                        <p>￥<strong>50</strong>元<br>红&nbsp;包</p>
                    </div>
                    <div class="price_bg"></div>
                </div>
            </div>
            <div class="item item-body">
                <div class="ticket">
                    <div class="ticket_bg">
                        <span>全站通用（个别商品除外）</span>
                        <p>满29元可用，APP下单使用，在线支付专享</p>
                    </div>
                    <div class="expiry_date fs5">有效期：2016-7-20至2016-7-26</div>
                </div>
                <div class="ticket_price">
                    <div class="price">
                        <p>￥<strong>3</strong>元<br>红&nbsp;包</p>
                    </div>
                    <div class="price_bg"></div>
                </div>
            </div>-->
            </div>
        </div>
    </ion-content>
</ion-view>





