<ion-view class="bg_color" id="user_rule">
    <ion-header-bar align-title="center" class="bar bar_top bar-energized">
        <yike-back class="return_back"></yike-back>
        <h1 class="title high fs1">使用规则</h1>
    </ion-header-bar>
    <ion-content class="has-header">
        <div class="hot_name fs1">
            <span class="line_left">
                <img src="img/red_bag/line_left.png">
            </span>
            <i class="cl1 fs3">使用说明</i>
            <span class="line_right">
                <img src="img/red_bag/line_right.png">
            </span>
        </div>
        <ul class="rule_content" type="1">
            <li>内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内。</li>
            <li>内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内。</li>
            <li>内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内。</li>
        </ul>
    </ion-content>
</ion-view>





