# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
platforms/
plugins/
www/lib/slack
www/lib/yike/
.idea/workspace.xml
.idea/
ionic.project
add
push
pull
gitsh/
*.png
*.orig
/plugins/
