<ion-view class="bg_color" id="card_message">
    <ion-header-bar align-title="center" class="bar bar_top bar-energized">
        <yike-back class="return_back"></yike-back>
        <h1 class="title high fs1">验证银行卡信息</h1>
    </ion-header-bar>
    <ion-content  scroll="false">
        <div class="title">向账户余额充值0.1元完成验证</div>
        <div class="list bank_card">
            <label class="item item-input border">
                <span>银行卡</span>
                <a>招商银行信用卡</a>
            </label>
            <label class="item item-input border">
                <span>卡号</span>
                <a>1234  5678  9012 1234</a>
            </label>
        </div>
        <form  class="login_form">
            <div class="list">
                <label class="item item-input border">
                    <span>姓名</span>
                    <input type="text" placeholder="持卡人姓名">
                </label>
                <label class="item item-input border">
                    <span>身份证</span>
                    <input type="text" placeholder="持卡人身份证号">
                </label>
                <label class="item item-input border">
                    <span>有效期</span>
                    <input type="text" placeholder="卡正面有效期，月份/年份">
                </label>
                <label class="item item-input border">
                    <span>安全码</span>
                    <input type="text" placeholder="卡背面签名栏后三位数">
                </label>
                <label class="item item-input border">
                    <span>手机号</span>
                    <input type="text" placeholder="银行预留手机号">
                </label>
            </div>
            <button class="button button-energized yellow fs1">下一步</button>
        </form>
    </ion-content>
</ion-view>


