<ion-view view-title="余额明细" id="top-account">
  <ion-header-bar align-title="center" class="bar bar_top straw bar-energized">
    <yike-back class="return_back"></yike-back>
    <h1 class="title high">余额明细</h1>
  </ion-header-bar>
  <ion-content class="has-header">
    <div class="trading">
      <div>账户余额</div>
      <div class="price"><span>￥</span>0.00</div>
    </div>
    <div class="row pay">
      <span class="col"><a>收入明细</a></span>
      <span class="col"><a class="pay1">支出明细</a></span>
    </div>
    <div class="row">
      <div class="col-50 time">2016.07.15&nbsp;&nbsp;13:25</div>
      <div class="col num">-&nbsp;188</div>
      <div class="col warm">爽脆黄瓜</div>
    </div>
    <div class="row">
      <div class="col-50 time">2016.07.15&nbsp;&nbsp;13:25</div>
      <div class="col num">-&nbsp;188</div>
      <div class="col warm">爽脆黄瓜</div>
    </div>
    <div class="row">
      <div class="col-50 time">2016.07.15&nbsp;&nbsp;13:25</div>
      <div class="col num">-&nbsp;188</div>
      <div class="col warm">爽脆黄瓜</div>
    </div>
    <div class="row">
      <div class="col-50 time">2016.07.15&nbsp;&nbsp;13:25</div>
      <div class="col num">-&nbsp;188</div>
      <div class="col warm">爽脆黄瓜</div>
    </div>
    <div class="row">
      <div class="col-50 time">2016.07.15&nbsp;&nbsp;13:25</div>
      <div class="col num">-&nbsp;188</div>
      <div class="col warm">爽脆黄瓜</div>
    </div>
    <div class="row kgb">
      <div class="col-50 time">2016.07.15&nbsp;&nbsp;13:25</div>
      <div class="col num">-&nbsp;188</div>
      <div class="col warm">爽脆黄瓜</div>
    </div>
  </ion-content>
</ion-view>
























