<ion-view view-title="充值绑定银行卡" id="top-bank" class="bg_color">
  <ion-header-bar align-title="center" class="bar bar_top straw bar-energized">
    <yike-back class="return_back"></yike-back>
    <h1 class="title high">绑定银行卡</h1>
  </ion-header-bar>
  <ion-content class="has-header">
    <div class="row bank">
      请绑定账户本人的银行卡
    </div>
    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="请输入卡号">
      </label>
    </div>
    <button class="button button-block button-positive" ui-sref="card_message">
      下一步
    </button>
  </ion-content>
</ion-view>









