<ion-modal-view id="share" ng-click="closeShareModal()">
   <div id="friend_share">
        <h2>将此商品分享到:</h2>
        <ul>
            <li ng-click="shareWeixin('3')"><img src="img/share/share_08.png" alt=""></li>
            <li ng-click="shareWeixin('4')"><img src="img/share/share_10.png" alt=""></li>
           <!-- <li ng-click="shareQQ('1')"><img src="img/share/share_03.png" alt=""></li>-->
            <li ng-click="shareWeibo('2')"><img src="img/share/share_06.png" alt=""></li>
            <div style="clear: both;"></div>
        </ul>
    </div>
</ion-modal-view>
