<ion-view class="bg_color" id="refund-refuse">
    <ion-header-bar align-title="center" class="bar bar_top bar-energized">
        <yike-back class="return_back"></yike-back>
        <h1 class="title high fs1">退款详情</h1>
    </ion-header-bar>    
    <ion-content class="has-header">
       <div class="top">
         <ul>
             <li><h5>退款被拒绝</h5></li>
             <li>
                <p class="text">若申请退款被拒绝，您可以修改退款申请或申请客服介入</p>
                <div class="btn"><button class="active">修改退款申请</button><button>联系客服</button></div>
             </li>
         </ul>
           
       </div>
       <div class="top">
         <ul>
             <li><p>退款金额：<span>￥155.00</span></p></li>
             <li><p>退款原因：<span>商品质量有问题</span></p></li>
             <li><p>具体说明：<span>吉他的关键键位都是坏的，音准也有问题</span></p></li>
             <li><p>退款时间：<span>2017-01-24 13:50</span></p></li>
             <li><p>协商记录：<a href="#">点击查看</a></span></p></li> 
         </ul>
           
       </div>
      
    </ion-content>
</ion-view>





