<ion-view view-title="配送时间" id="delivery_count">
    <!--<ion-header-bar align-title="center" class="bar bar_top">-->
    <ion-header-bar align-title="center" class="bar bar_top bar-energized">
        <yike-back class="return_back" ui-sref="my-package"></yike-back>
        <h1 class="title high">配送时间</h1>
    </ion-header-bar>
    <ion-content class="has-header">
            <div id="demo">
                <div id="caT"></div>
            </div>
    </ion-content>
    <div class="delivery-count-bottom">
        <p>如果您想取消某次配送，您可以点击取消，下次配送我们将自动延期</p>
        <p>您也可以指定配送日期,<i style="color:#FF4D00">当日之前的日期无法指定</i></p>
    </div>
   <div class="bar bar-footer bar-energized" style="background-color:#ff7900" ui-sref="my-package">
    <div class="title kbh">提交</div>
</div>
</ion-view>