<ion-view view-title="品牌介绍" id="brand">
  <ion-header-bar align-title="center" class="bar bar_top bar-energized">
    <yike-back class="return_back" ui-sref="xiu-home"></yike-back>
  </ion-header-bar>
  <ion-content class="has-header">
    <div class="cbd">
    <div class="kgb">
    <img src="img/food-img/brand.png" class="bread"/>
  </div>
    <div class="kgy">
      <img src="img/food-img/company02.png"/>
    </div>
    <div class="kgc">
      <img src="img/food-img/brand01.png"/>
    </div>
    <div class="xiuGen">
      <p ng-bind="brand[0].content"></p>
    </div>
    </div>
  </ion-content>
  <div class="bar bar-footer rdd">
  </div>
</ion-view>

