<ion-view view-title="监测报告" id="detection">
  <ion-header-bar align-title="center" class="bar bar_top straw bar-energized">
    <yike-back class="return_back" ui-sref="xiu-home"></yike-back>
  </ion-header-bar>
  <ion-content class="has-header">
    <div>
      <div class="teach">
        <img src="img/food-img/detection.png"/>
      </div>
    </div>
    <div class="teach1">
    <div class="teacher">
      <img src="img/food-img/d_report.png" class="tea"/>
    </div>
    <div class="detection_t">
      <p class="kg">2017-7-12</p>
      <p>浙江兆农农业有限公司任何时候只提供安全、可靠的绿色无公害产品,持续创新,任何工艺改进以保证质量为前提。我们的目标是让更多人吃上无公害果蔬,全力打造“秀根”果蔬品牌</p>
    </div>
    </div>
  </ion-content>
</ion-view>





