<ion-view view-title="公司介绍" id="introduce">
  <ion-header-bar align-title="center" class="bar bar_top straw bar-energized">
    <yike-back class="return_back" ui-sref="xiu-home"></yike-back>
  </ion-header-bar>
  <ion-content class="has-header">
    <div class="intro">
      <img src="img/food-img/company.png"/>
    </div>
    <div class="intro1">
      <img src="img/food-img/company02.png"/>
      <p ng-bind-html="intro[0].content">
        <!--浙江兆农农业有限公司是2015年由浙江兆丰新能源有限公司发起,并与浙江耕农农业科技有限公司 共同成立的一家专业从事<i>“互联网+现代农业”</i>的企业。-->
      </p>
    </div>
    <div class="intro2">
      <img src="img/food-img/company01.png"/>
      <div class="intro5">我们的目标是打造一家能够真正解决老百姓食品安全问题的生态农业公司,并且<i>通过开发手机App,微信公众号等网络平台，实现OTO销售</i>,不仅给客户提供绿色无公害产品,还解决了更大的便利性问题。</div>
      <div>公司目前在浙江拥有超过6万平方的生产基地,主要采用自动化的气雾培方式进行农业生产,并于<i class="bky">2015年研制成功“蔬菜生产3.0”技术</i>,可以实现农业生产的连续性、计划性以及数据化,为“互联网+”提供上了技术上的支撑</div>
    </div>
    <div class="intro3">
      <p>公司于<i>2016年获得千万级天使投资</i>。<br>公司在浙江台的基地受到当地及省相关领导高度关注,多次莅临基地考察。</p>
    </div>
  </ion-content>
</ion-view>



