<ion-view view-title="我的爱好提交" id="my-hobby">
   <ion-header-bar align-title="center" class="bar bar_top my_pack bar-energized">
        <yike-back class="return_back"></yike-back>
        <h1 class="title high">设置成功</h1>
   </ion-header-bar>
   <ion-content class="has-header">
        <div class="hobby">
              <img src="img/food-img/my-hobby.png"/>
              <p>您的喜好已设置</p>
        </div>
        <div class="row common">
            <span class="col">喜好推荐</span>
        </div>
        <div class="kind">
          <div class="item item-body">
              <div class="fruits">
                  <img class="full-image" src="img/fruits/sc1.png">
              </div>
              <p class="hot_name fs5 cl1">爽脆黄瓜约（500g）</p>
              <p class="low_price">
                  <a class="big fs2"><i class="fs6">￥</i>4.5</a>
                  <a class="sm fs6"><s>￥4.5</s></a>
                  <a class="ion-ios-plus-outline position"></a>
              </p>
          </div>
          <div class="item item-body">
              <div class="fruits">
                  <img class="full-image" src="img/fruits/sc1.png">
              </div>
              <p class="hot_name fs5 cl1">爽脆黄瓜约（500g）</p>
              <p class="low_price">
                  <a class="big fs2"><i class="fs6">￥</i>4.5</a>
                  <a class="sm fs6"><s>￥4.5</s></a>
                  <a class="ion-ios-plus-outline position"></a>
              </p>
          </div>
      </div>
    </ion-content>
</ion-view>



