<ion-view view-title="订单详情" id="order_detail">
  <ion-header-bar align-title="center" class="bar bar_top straw bar-energized">
    <yike-back class="return_back" ui-sref="login"></yike-back>
    <h1 class="title high">订单详情</h1>
  </ion-header-bar>
  <ion-content class="has-header">
    <!--收货人-->
   <div class="share_people">
     <p><span class="share_people1">收货人 :</span> <span class="share_people1">宋小宝</span> <span class="people2">1239307836</span></p>
     <p class="share_people3">北京朝阳区什么路什么单元</p>
   </div>
    <div>
      <ul class="list">
        <li class="item price">
          费用明细
        </li>
        <li class="item">
          精选特级麒麟瓜约(2400g)
          <span class="fq">x1</span>
          <span class="fk">￥16.8</span>
        </li>
        <li class="item">
          爽脆黄瓜约(500g)
          <span class="fq">x1</span>
          <span class="fk">￥5.2</span>
        </li>
        <li class="item">
          配送费
          <span class="fb">免费</span>
        </li>
        <li class="item">
          应付金额
          <span class="fg">￥22</span>
        </li>
      </ul>
    </div>
    <div class="item">
      <p><span>订单编号:</span> <span class="fj">0697311D760913</span></p>
      <p><span>订单生产时间:</span> <span class="fj">2016-07-15 15:48</span></p>
    </div>
    <button class="button button-stable rkb">
      联系客服
    </button>
  </ion-content>
</ion-view>

