<ion-view view-title="产品展示" id="product">
  <ion-header-bar align-title="center" class="bar bar_top straw bar-energized">
    <yike-back class="return_back" ui-sref="xiu-home"></yike-back>
    <h1 class="title high"></h1>
  </ion-header-bar>
  <ion-content class="has-header">
    <div class="produce_d">
      <img src="img/food-img/product.png" class="produce"/>
    </div>
    <div class="item produce_k">
      <img src="img/food-img/product1.png" class="full-image"/>
    </div>
    <div class="produce_t">
    <p class="produce_f">产品名称</p>
    <div class="produce_b">
    <p class="produce_j"><span>产品介绍: </span>内容内容内容内容内容内容内容内容</p>
    </div>
    </div>
    <div class="item produce_k">
      <img src="img/food-img/product1.png" class="full-image"/>
    </div>
    <div class="produce_t">
      <p class="produce_f">产品名称</p>
      <div class="produce_b">
        <p class="produce_j"><span>产品介绍: </span>内容内容内容内容内容内容内容内容</p>
      </div>
    </div>
  </ion-content>
</ion-view>
