<ion-view view-title="种植技术" id="technology" class="bg_color">
  <ion-header-bar align-title="center" class="bar bar_top straw bar-energized">
    <yike-back class="return_back" ui-sref="xiu-home"></yike-back>
  </ion-header-bar>
  <ion-content class="has-header">
    <div class="teach_head">
        <div class="teach">
            <img src="img/food-img/tea.png"/>
        </div>
        <div class="teacher">
          <img src="img/food-img/tech.png" class="tea"/>
        </div>
        <div class="teq">
          <img src="img/food-img/technology.png" class="tec"/>
        </div>
    </div>
    <div class="teach_bg">
        <div class="row planting low">
            <div class="col planting1">
                <p><i class="ita">1</i><br>生产过程<br>可控和可追溯</p>
            </div>
            <div class="col planting1">
                <p><i class="ita">2</i><br>基本实现自动<br>化和去人工化</p>
            </div>
            <div class="col">
                <p><i class="ita">3</i><br>综合采用<br>用基质、气雾<br>培及水培技术</p>
            </div>
        </div>
        <div class="row planting">
            <div class="col planting1">
                <p><i class="ita">4</i><br>因脱离土壤<br>所以没有<br>重金属污染</p>
            </div>
            <div class="col planting1">
                <p><i class="ita">5</i><br>不使用任何<br>农药和激素</p>
            </div>
            <div class="col">
                <p><i class="ita">6</i><br>真正实现<br>无公害果蔬<br>批量生产</p>
            </div>
        </div>
    </div>
  </ion-content>
</ion-view>



