<ion-view view-title="团队介绍" id="team" class="bg_color">
  <ion-header-bar align-title="center" class="bar bar_top straw bar-energized">
    <yike-back class="return_back" ui-sref="xiu-home"></yike-back>
  </ion-header-bar>
  <ion-content class="has-header">
    <div class="team_box">
        <div class="teach">
            <img src="img/food-img/te.png"/>
        </div>
        <div class="teacher">
          <img src="img/food-img/tech.png" class="tea"/>
        </div>
        <div class="t_introduce">
          <p ng-bind="team[0].content"></p>
        </div>
    </div>
  </ion-content>
</ion-view>




